<mat-toolbar color="primary" class="epiville-navbar">
  <a mat-button routerLink="/">
    <img src="../../../assets/images/epiville-logo.png" width="80" height="80" class="d-inline-block align-top" alt="">
  </a>

  <div class="nav-links">
    <button mat-button routerLink="/home/carte/classement">Carte Interactive</button>

    <button mat-button routerLink="/home/carte/classement">Classement des villes</button>

    <button mat-button routerLink="/home/dashboard">Tableau de bord</button>
  </div>
</mat-toolbar>
